<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="alvin.base.mvp"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".basic.views.BasicActivity"
            android:label="@string/title_basic"
            android:parentActivityName=".main.view.MainActivity" />

        <activity
            android:name=".scope.views.ScopeActivity"
            android:label="@string/title_scope"
            android:parentActivityName=".main.view.MainActivity" />

        <activity
            android:name=".scope.dependency.views.DependencyActivity"
            android:label="@string/title_scope_dependence"
            android:parentActivityName=".scope.views.ScopeActivity" />

        <activity
            android:name=".scope.subcomponent.views.SubcomponentActivity"
            android:label="@string/title_scope_subcomponent"
            android:parentActivityName=".scope.views.ScopeActivity" />


        <activity
            android:name=".android.views.AndroidActivity"
            android:label="@string/title_android"
            android:parentActivityName=".main.view.MainActivity" />

        <activity
            android:name=".android.subcomponent.views.SubcomponentActivity"
            android:label="@string/title_android_subcomponent"
            android:parentActivityName=".android.views.AndroidActivity" />

        <activity
            android:name=".android.contributes.views.ContributesActivity"
            android:label="@string/title_android_contributes"
            android:parentActivityName=".android.views.AndroidActivity" />

        <activity
            android:name=".multibindings.views.MultibindingsActivity"
            android:label="@string/title_multibindings"
            android:parentActivityName=".main.view.MainActivity"
            android:theme="@style/AppTheme.Multibindings" />

    </application>
</manifest>

